<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recargar Saldo - Billetera Digital</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Billetera Digital</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Recargar Saldo</div>
                <div class="card-body">
                    <form th:action="@{/recargar}" method="post">
                        <div class="form-group">
                            <label for="monto">Monto a recargar:</label>
                            <input type="number" class="form-control" id="monto" name="monto" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Recargar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
